*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  background-color: green;
}

/* SCROLLING PANE START */
/* hide the scrollbars */
::-webkit-scrollbar {
  display: none;
}

.scrolling-pane {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 33.4%;
  margin-left: -4px;
  overflow: scroll;
  z-index: 0;
}

.scrolling-pane2 {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 20%;
  margin-left: -4px;
  overflow: scroll;
  z-index: 0;
}

.scrolling-pane4 {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 10%;
  margin-left: -4px;
  overflow: scroll;
  z-index: 1;
  background-color:white;
  object-fit: contain;
}

.scrolling-pane3d {
position: absolute;
left: 0px;
top: 1px;
z-index: 2;
height: 100%;
width: 33.3%;
background-color:white;
display: inline-block;
overflow: scroll;
font-size: 40px;
font-family: sans-serif;
transform-origin: 50% 100%;
transform: perspective(200px) rotateX(25deg);
z-index: 1;
}

.scrolling-pane-bar {
left: 0px;
top:55%;
position: absolute;
vertical-align: top;
background-color:white;
height: 100px;
width: 53.4%;
margin-left: -4px;
overflow: scroll;
z-index: 2;
}


/* SCROLLING PANE END */
/* these are just the colors */
.blue-color {
  background-color: blue;
}

.green-color {
  background-color: green;
}

.orange-color {
  background-color: orange;
}

.white-color {
  background-color: white;
}

/* this is dummy content */
.content {
  position: inherit;
  width: 90%;
  margin: 10px auto;
  font-size: 40px;
  font-family: sans-serif;
  z-index: 0;
}

.content2 {
  width: 90%;
  margin: 10px auto;
  font-size: 20px;
  font-family: sans-serif;
}

.content3 {
  width: 90%;
  margin: 10px auto;
  font-size: 40px;
  font-family: sans-serif;
  white-space: nowrap;
}

body,
div,
ul,
li,
p {
  margin: 0;
  padding: 0;
  font-family: verdana;
  font-size: 16pt;
}


/*from HEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEERER*/
.tickerwrapper {
  /* the outer div */

  position: relative;
  top: 30px;
  left:0%;
  border: 1px solid #444;
  background: #fff;
  width: 99.9%;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}

ul.list {
  position: relative;
  display: inline-block;
  list-style: none;
  padding:0;
  margin:0;
}

ul.list.cloned {
  position: absolute;
  top: 0px;
  left: 0px;
}

ul.list li {
  float: left;
  padding-left: 20px;
}

/* TO HEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEERE*/

.images {
  position: fixed;
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 75px;
  z-index: 2;
  border-radius: 50%;
  filter: blur(15px);
  opacity: 80%;
  transition: 1s ease;

}


.images:hover{
  transition: .5s ease;
  filter: blur(0px);
  opacity: 100%;
  filter:
}

.smudges{
  position: fixed;
  z-index: 0;
}
