*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  background-color: black;
}

/* SCROLLING PANE START */
/* hide the scrollbars */
::-webkit-scrollbar {
  display: none;
}

.scrolling-pane {
  background-color: white;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 33.4%;
  margin-left: -4px;
  overflow: scroll;
  outline: 2px solid black;
}

.scrolling-pane img{
mix-blend-mode: darken;
filter: invert(100%);
margin-top: -4px;
}



.title{
  transform: rotate(90deg);
  overflow: scroll;
}

.scrolling-pane-right {
  background-color: black;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 36.7%;
  margin-left: -4px;
  overflow: scroll;
  outline: 2px solid black;
  object-fit: contain;
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
  overflow: scroll;
  z-index: 1;
  object-fit: contain;

  font-size: 95px;
  text-align: center;
  color: black;
  font-family: "Arial Narrow";
    -webkit-text-stroke: 1px white;
}




.scrolling-pane2 {
    background-color:white;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 20%;
  margin-left: -3px;
  overflow: scroll;
  z-index: 1;
  outline: 2px solid black;
}

.scrolling-pane4{
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 10%;
  margin-left: -4px;
  overflow: scroll;
  z-index: 1;
  background-color:white;
  outline: 2px solid black;
  object-fit: contain;
}

.scrolling-pane4-images {


}


.tile{
  margin-top: -20px;
  width:100%
}
.scrolling-pane3d {
position: absolute;
left: 0px;
top: 1px;
z-index: 2;
height: 100%;
width: 33%;
background-color:white;
outline: 2px solid black;
display: inline-block;
overflow: scroll;
font-size: 40px;
font-family: "Arial Narrow";
transform-origin: 50% 100%;
transform: perspective(23rem) rotateX(30deg);
z-index: 1;

}

.scrolling-pane-bar {

position: absolute;
vertical-align: top;
background-color:white;
outline: 2px solid black;
font-size: 40px;
font-family: "Arial Narrow";
height: 90px;
width: 400px;
z-index: 3;
top: 350px;
left: 1150px;
overflow-y: auto;
overflow-x: hidden;
transform: rotate(-90deg) translateY(-100px);
transform-origin: right top;

}







.white-color {
  background-color: white;
}

/* this is dummy content */
.content {
  position: inherit;
  width: 90%;
  height: auto;
  margin: 20px;
  font-size: 30px;
  font-family: "Arial Narrow";
  z-index: 2;
}

.content2 {
  width: 90%;
  margin: 10px auto;
  font-size: 20px;
  font-family: "Arial Narrow";
}

.content3 {
  width: 90%;
  margin-left: 20px;
  font-size: 22px;
  font-family: "Arial Narrow";
  white-space: nowrap;


}

.images {
  position: fixed;
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 75px;
  z-index: 2;
  border-radius: 50%;
  filter: blur(15px);
  opacity: 80%;
  transition: 1s ease;

}


.images:hover{
  transition: .5s ease;
  filter: blur(0px);
  opacity: 100%;
  filter:
}

.smudges{
  position: fixed;
  z-index: 5;
}

.smallblock{
  height: 35px; width: 20px; background-color:black; display:inline-block;
  margin-right:6px;margin-left:0px;margin-bottom:-5px;margin-top:10px;
}

::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}



.horizontal-scroll-wrapper{
  position: absolute;
  display: inline-block;
  top:0;
  left:-10px;
  width:90px;
  max-height:1000px;
  margin-top: 375px;
  background:white;
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-80px);
  transform-origin:right top;
  outline: 2px solid black;
  height: 970px;
  z-index: 3;
}
.horizontal-scroll-wrapper > div{
  display:block;
  padding:0px;
  background:white;
  transform:rotate(90deg);
  transform-origin: right top;
  white-space: nowrap;
}



.rectangles{
  top:100px;

}
.rectangles > div{
  width:140px;
  height:60px;
  margin:150px 15px;
  padding:5px;
  background:white;
  transform:rotate(90deg) translateY(80px);
  transform-origin: right top;
  font-size: 40px;
  font-family: "Arial Narrow";
}

.block{
  margin-top: -20px;
  font-size: 75px;
  font-family: "Arial Narrow";
  color: white;
  text-align: center;
  position: sticky;
}

.smalltext{
  margin: 20px;
  font-size: 20px;
  font-family: "Arial Narrow";
  color: white;
  text-align: center;
}
